@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
  color: white;
  background: rgb(39, 48, 66);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.public-sm {
  font-weight: 300;
}

.public-rg {
  font-weight: 400;
}

.public-lg {
  font-weight: 700;
}

.public-xl {
  font-weight: 800;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(7, 7fr);
  grid-template-rows: repeat(6, 6fr);
}

.cls-1 {
  fill: #0b1b3f;
}

.cls-2 {
  fill: #f55;
}

.cls-3 {
  fill: #ffe75a;
}

.timer-outline {
  stroke-width: 0.5rem;
}

.hover-ani {
  animation: fadeInOut 2s ease-in 0s infinite
}

.timer-ticker {
  transform-origin: center;
  transition: 1s ease all;
  stroke-linecap: round;
}

.tile-stroke {
  stroke-width: 1rem;
  stroke: #1d4ed8;

}

.a {
  stroke-dasharray: 283 283;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes bounce2 {
  0% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(40.5%);
  }

  25% {
    transform: translateY(32%);
  }

  35% {
    transform: translateY(40.5%);
  }

  45% {
    transform: translateY(37%);
  }

  55% {
    transform: translateY(40.5%);
  }

  60% {
    transform: translateY(38%);
  }

  65% {
    transform: translateY(40.5%);
  }

  100% {
    transform: translateY(40.5%);
  }
}